/*-- scss:defaults --*/

$font-family-sans-serif: Aptos, Arial, sans-serif !default;
$font-family-monospace: "Fira Mono", monospace;
$headings-font-family: Aptos, Arial, sans-serif !default;
$presentation-heading-font: $headings-font-family;